*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5DEB3;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
h1{
   color: #D2691E;
    font-family:inherit;
    margin: 1%;
}
h1:hover{
  color:coral;
  font-size:35px;
  }

h2{
    justify-content: center;
    text-align: center;
    margin: 16px;
    height: 20px;
    
}

img{
    border-radius: 100px;
    width: 100px;
}

header{
    height: 200px;
    padding: 20px 0;
    display: flex;
    align-items:flex-start ;
}
 
.meio{
display: flex;
flex-wrap: wrap;
max-width: 1280px;
margin-left: 650px;
margin-right: 5%;
padding: 0 1%;

}

.home{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.home a{ 
    color:#D2691E;
    text-decoration: none;
    font-weight: bold;
    margin-right: 90px;
}

.extras{
    position: absolute;
    bottom: -60px;
    right: -200px;
    width: 630px;
    height: 550px;
    border-radius: 50%;
    background-color: #D2691E;
}

a{
 font-size:x-large;
 font-family:monospace;
 
}

.flex-container{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
}

.flex-item{
    border: 9px solid #D2691E;
    border-radius: 30px;
    width: 200px;
    height: 350px;
    padding: 10px;
    margin: 20px  20px 40px;
}

footer{
    font-family: monospace;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
}

nav{
    margin: 0;
}

@media (max-width:700px){
    h1{
        display: none;
    }
    ul{
        flex-direction: column;
        padding: 20px;
        align-items: center;
        margin-left: 40%;
        border-radius: 10px;
        text-decoration: none;
    }
}
ul{
    display: flex;
}
