*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5DEB3;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
h1{
    padding: 1px;
    font-size: 36px;
   color: #D2691E;
    font-family:inherit;
    margin: 50px 0;
    text-align: center;
    justify-content: center;
}
h1:hover{
  color:brown;
  font-size:37px;
  }

h2{
    justify-content: center;
    text-align: center;
    margin: 16px;
    height: 20px;
    font-family:sans-serif ;
}

img{
    border-radius: 100px;
    width: 150px;

}

header{
    height: 200px;
    padding: 10px 0;
    display: flex;
    align-items:flex-start ;
}

.meio{
display: flex;
flex-wrap: wrap;
max-width: 1280px;
margin-left: 650px;
margin-right: 5%;
padding: 0 1%;

}

.home{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.home a{ 
    color:#D2691E;
    text-decoration: none;
    font-weight: bold;
    margin-right: 90px;
}

.extras{
    position: absolute;
    bottom: -60px;
    right: -200px;
    width: 630px;
    height: 550px;
    border-radius: 50%;
    background-color: #D2691E;
}

a:hover{
    color: brown;
}

a{
margin: 25px 0;
 font-size:32px;
 font-family:monospace;
 
}

.flex-container{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
}

.flex-item{
    background-color:#D2691E;
    border: 9px solid #D2691E;
    border-radius: 30px;
    width: 250px;
    height: 355px;
    padding: 10px;
    margin: 20px 60px;
    justify-content: center;
    text-align: center;
    
}

footer{
    font-family: monospace;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
}

nav{
    margin: 0;
}

@media (max-width:700px){
    h1{
        display: none;
    }
    ul{
        flex-direction: column;
        padding: 20px;
        align-items: center;
        margin-left: 40%;
        border-radius: 10px;
        text-decoration: none;
    }
    p{
        text-align: center;
    }
}

ul{
    display: flex;
}

p{
    padding: 20px;
    background-color: #D2691E;
    font-family:sans-serif;
    font-size: larger;
}

.foto{
     margin: 10px 20px;
}
